@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/06/34/7956298ae43266e.jpg);
    background-size: cover;
  }
  
header {
    display: flex;
    width: 80%; 
    margin: 0 auto;
    font-size: 40px;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

.display {
    font-family: 'Indie Flower', cursive;
    justify-content: center;
    display: flex;
    font-size:50px;
}

.game-board {
    width: 402px;
    height: 402px; 
    margin: 0 auto;
    justify-content: center;
    padding: 0 10% 0 10%;
    align-items: flex-start;
  }

.cell {
    background-color:snow;
    display: inline-block;
    margin: 3px;
    min-height: 150px;
    min-width: 150px;
    align-items: center;
    border-radius: 10px;;
    border-left: 3px solid #525B76; 
    border-right: 3px solid #525B76; 
  }

.play-now-btn ,.reset-btn {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: red;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX8kl7NHFUN7g3Cusgl6-Vb1NiaYByGaIIs1XsB3S-CHngdgu0Jw);   
    font-weight: bold;
    background-size: contain;
    background-repeat: space;
    align-self: flex-end;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
}

.X {
    background-image: url(https://i.redd.it/hxpk05wdgdp01.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.O {
    background-image: url(https://i.pinimg.com/originals/41/5c/01/415c0149634036095ce41035a2184eeb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;   
}

footer {
    display: flex;
    align-items: flex-end;
    font-family: 'Indie Flower', cursive;
    font-size: 10px;
    justify-content: center;
    width: 80%;
    padding: 10%;
}

.reset-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}