@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.wrapper {
    display: flex;
    justify-content: center;
    /* align-content: flex-end; */
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 10%;
    /* background-image: url(http://www.pptbackgrounds.org/uploads/tic-tac-toe-backgrounds-wallpapers.jpg); */
}

body{
    background-color:silver;
  }
  
header {
    display: flex;
    width: 80%; 
    margin: 0 auto;;
    font-size: 40px;
    /* padding: 0 20% 0 20%; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    justify-content: center;
    font-family: 'Indie Flower', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.player {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: center;
    align-items: flex-start;
    /* width: 50%;
    margin: 0 auto; */
    font-size: 30px;
    /* padding: 30px; */
    font-family: 'Indie Flower', cursive;
}

.game-board {
    /* background-color: transparent; */
    /* width: 402px;
    height: 402px;  */
    margin: 0 auto;
    justify-content: center;
    padding: 0 10% 0 10%;
    align-items: flex-start;
  }

.cell {
    background-color:snow;
    display: inline-block;
    margin: 3px;
    min-height: 150px;
    min-width: 150px;
    align-items: center;
    border-radius: 10px;;
    border-left: 3px solid #525B76; 
    border-right: 3px solid #525B76; 
  }

/* .cell:hover {
    background: seashell;
  } */

/* .score {
    display: flex;
    font-family: 'Indie Flower', cursive;
    align-items: flex-end;
    flex-wrap: wrap;
} */

.play-now-btn ,.reset-btn {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    background-color: aquamarine;
    border-radius: 10px;
    justify-content: center;
}

.X {
    background-color:#FD8A8A;
}

.O {
    background-color: #C4FD8A;
}

footer {
    display: flex;
    align-items: flex-end;
    font-family: 'Indie Flower', cursive;
    font-size: 10px;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    padding: 10%;
}
.reset-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* padding: 10px 0 0 0; */
}