@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

body{
    background-image: url(image/background_image2.png);
    background-size: cover;
  }
  
header {
    display: flex;
    width: 80%; 
    margin: 0 auto;
    font-size: 40px;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(32, 219, 15);
    text-shadow: black 10px 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.game-info {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

.display-message {
    font-family: 'Indie Flower', cursive;
    justify-content: center;
    display: flex;
    font-size:50px;
}

.game-board {
    width: 402px;
    height: 402px; 
    margin: 0 auto;
    justify-content: center;
    padding: 0 10% 0 10%;
    align-items: flex-start;
}

.cell {
    background-color:rgb(248, 244, 8);
    display: inline-block;
    margin: 3px;
    min-height: 150px;
    min-width: 150px;
    align-items: center;
    border-radius: 10px;;
    border-left: 3px solid rgba(6, 153, 13, 0.466); 
    border-right: 3px solid rgba(6, 153, 13, 0.466); 
  }

.play-now-btn  {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: rgb(11, 10, 9);
    background-image: url(image/letsPlaybtn.png);   
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.reset-btn {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: rgb(11, 10, 9);
    background-image: url(image/letsPlaybtn.png);   
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.play-again-box {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    justify-content: center;
    width: 80%;
    padding-top: 5px;
}

.reset-btn:hover {
    color: rgb(15, 15, 15);
    text-shadow: rgb(244, 150, 9) 0px 10px;
}
.play-now-btn:hover {
    color: rgb(15, 15, 15);
    text-shadow: rgb(244, 150, 9) 0px 10px;
}

.X {
    background-image: url(image/mario_Red.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;

}

.O {
    background-image: url(image/mario_green.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;   
}

footer {
    display: flex;
    align-items: flex-end;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    justify-content: center;
    color: gold;
    width: 80%;
    padding: 10%;
    /* text-shadow: gold 10px 10px; */
}

.github {
    text-decoration: none;
    color: aliceblue;
   
}

.reset-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.red-torio {
    width: 10rem;
    height: 10rem;
}

.green-torio {
    width: 10rem;
    height: 10rem;
}

.score1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0 10px;
}

.score2 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0 10px;
}

.container {
    flex-grow: 8;
    margin: 0 auto;
    align-self: center;
  
}
.left {
    text-align: center;
    font-family: 'Indie Flower', cursive;;
    font-size: 50px;
    /* color: rgb(15, 17, 15); */
    flex-grow: 1;
    color: rgb(22, 20, 20);
    /* text-shadow: rgba(211, 12, 12, 0.603) 10px 10px; */
}

.right {
    text-align: center;
    font-family: 'Indie Flower', cursive;;
    font-size: 50px;
    /* color: rgb(24, 22, 22); */
    flex-grow: 1;
    color: rgb(5, 5, 5);
    /* text-shadow: rgba(57, 212, 18, 0.699) 10px 10px; */
}

